{% extends 'base.html' %}

{% block title %}Palpiteiros | Classificação{% endblock title %}

{% block content %}

<h1>Classificação</h1>

<nav class="menu horizontal">
    <a
        href="{% url 'core:classificacao' %}?periodo=mensal"
        {% if periodo == 'mensal' %}class="ativado"{% endif %}
    >
        Mensal
    </a>
    <a
        href="{% url 'core:classificacao' %}?periodo=anual"
        {% if periodo == 'anual' %}class="ativado"{% endif %}
    >
        Anual
    </a>
    <a
        href="{% url 'core:classificacao' %}?periodo=geral"
        {% if periodo == 'geral' %}class="ativado"{% endif %}
    >
        Geral
    </a>
</nav>

<p class="periodo-classificacao">Periodo: {{ inicio_periodo }} a {{ fim_periodo }}</p>

{% if palpiteiros %}
<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Pontos</th>
    </tr>
    {% for palpiteiro in palpiteiros %}
    <tr>
        <td>
            {% if forloop.counter == 1 %}
            🥇
            {% elif forloop.counter == 2 %}
            🥈
            {% elif forloop.counter == 3 %}
            🥉
            {% elif forloop.last %}
            🔦
            {% endif %}
        </td>
        <td>{{ forloop.counter }}º</td>
        <td>{{ palpiteiro.nome }}</td>
        <td>{{ palpiteiro.pontuacao }}</td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p class="msg-central">Não existem palpiteiros cadastrados no bolão 😕</p>

{% endif %}

{% endblock content %}
