{% extends 'base.html' %}

{% block title %}Criar Bolão | Palpiteiros{% endblock title %}

{% block content %}

<h2>Crie seu bolão</h2>

<form method="post" class="main-form">
  {% csrf_token %}

  {% if form.non_field_errors %}
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% for field in form %}
    <div>
      {% if field.widget_type == 'checkbox' %}
        <div class="private-checkbox">
          <label for={{ field.auto_id }}>{{ field.label }}</label>
          {{ field.errors }}
          {{ field }}
        </div>
      {% else %}
        {{ field.label_tag }}
        {{ field.errors }}
        {{ field }}
      {% endif %}
    </div>
  {% endfor %}
  <input type="submit" value="Criar bolão">
</form>

{% endblock content %}
