{% extends 'base.html' %}

{% block title %}Palpites{% endblock title %}

{% block content %}

<h1>{{ rodada }}</h1>

<table class="main-table">
  <thead>
    <tr>
      <th style="width:2.5%"></th>
      <th style="width:2.5%"></th>
      <th style="width:45%">Palpiteiro</th>
      <th style="width:15%">
        {% if rodada.aberta_para_palpites %}
          Pontuação parcial
        {% else %}
          Pontuação final
        {% endif %}
      </th>
      <th style="width:35%"></th>
    </tr>
  </thead>
  <tbody>
  {% for dados_palpiteiro in dados_palpiteiros|dictsortreversed:"pontuacao" %}
    <tr
      class="clickable-row"
      name="clickable-row{{ dados_palpiteiro.palpiteiro.usuario.id }}"
      onclick="expandDetailRow('{{ dados_palpiteiro.palpiteiro.usuario.id }}')"
    >
      <td>
        {% if forloop.counter == 1 %}
          🥇
        {% elif forloop.counter == 2 %}
          🥈
        {% elif forloop.counter == 3 %}
          🥉
        {% elif forloop.last %}
        🔦
        {% endif %}
      </td>
      <td>{{ forloop.counter }}º</td>
      <td>{{ dados_palpiteiro.palpiteiro }}</td>
      <td>{{ dados_palpiteiro.pontuacao }}</td>
      <td class="expand-icon">
      {% if dados_palpiteiro.palpiteiro.usuario == request.user %}
      Palpites 🔼
      {% else %}
      Palpites 🔽
      {% endif %}
      </td>
    </tr>
    <tr
      class="detail-row"
      name="detail-row{{ dados_palpiteiro.palpiteiro.usuario.id }}"
      {% if dados_palpiteiro.palpiteiro.usuario == request.user %}
      style="display: table-row"
      {% endif %}
    >
      <td colspan="5" class="detail-table-container">
        <table class="detail-table">
          <thead>
            <tr>
              <th style="width:50%">Partida</th>
              <th style="width:15%">Resultado</th>
              <th style="width:15%">Palpite</th>
              <th style="width:15%">Pontuação</th>
              <th style="width:5%"></th>
            </tr>
          </thead>
          <tbody>
            {% for partida_palpite in dados_palpiteiro.partidas_e_palpites %}
              {% with partida=partida_palpite.partida palpite=partida_palpite.palpite %}
                <tr>
                  <td>
                      <p>{{ partida.mandante }}</p>
                      <p>x</p>
                      <p>{{ partida.visitante }}</p>
                  </td>
                  <td>{{ partida.resultado|default:"-" }}</td>
                  {% if palpite %}
                    <td>{{ palpite.resultado }}</td>
                    <td>{{ palpite.pontuacao|default_if_none:"-" }}</td>
                  {% else %}
                    <td>-</td>
                    <td>-</td>
                  {% endif %}
                  <td>
                      {% if partida.pontuacao_dobrada %}
                      🔥
                      {% endif %}
                  </td>
                </tr>
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content %}
