{% extends 'base.html' %}

{% block title %}Palpites{% endblock title %}

{% block content %}

<h1>{{ rodada }}</h1>

<table class="main-table">
  <thead>
    <tr>
      <th style="width:2.5%"></th>
      <th style="width:2.5%"></th>
      <th style="width:45%">Palpiteiro</th>
      <th style="width:15%">
        {% if rodada.aberta_para_palpites %}
          Pontuação parcial
          {% else %}
          Pontuação
        {% endif %}
      </th>
      <th style="width:35%"></th>
    </tr>
  </thead>
  <tbody>
  {% for dados_palpiteiro in dados_palpiteiros|dictsortreversed:"pontuacao" %}
    <tr
      class="clickable-row"
      name="clickable-row{{ dados_palpiteiro.palpiteiro.usuario.id }}"
      onclick="expandDetailRow('{{ dados_palpiteiro.palpiteiro.usuario.id }}')"
    >
      <td>
        {% if forloop.counter == 1 %}
          🥇
        {% elif forloop.counter == 2 %}
          🥈
        {% elif forloop.counter == 3 %}
          🥉
        {% endif %}
      </td>
      <td>{{ forloop.counter }}º</td>
      <td>{{ dados_palpiteiro.palpiteiro }}</td>
      <td>{{ dados_palpiteiro.pontuacao }}</td>
      <td class="expand-icon">
      {% if dados_palpiteiro.palpiteiro.usuario == request.user %}
      Palpites 🔼
      {% else %}
      Palpites 🔽
      {% endif %}
      </td>
    </tr>
    <tr
      class="detail-row"
      name="detail-row{{ dados_palpiteiro.palpiteiro.usuario.id }}"
      {% if dados_palpiteiro.palpiteiro.usuario == request.user %}
      style="display: table-row"
      {% endif %}
    >
      <td colspan="5" class="detail-table-container">
        <table class="detail-table">
          <thead>
            <tr>
              <th style="width:50%">Partida</th>
              <th>Resultado</th>
              <th>Palpite</th>
              <th>Pontuação</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for partida_palpite in dados_palpiteiro.partidas_e_palpites %}
              <tr>
                <td>
                    <p>
                        {{ partida_palpite.partida.mandante }}</br>
                        x</br>
                        {{ partida_palpite.partida.visitante }}
                    </p>
                </td>
                <td>{{ partida_palpite.partida.resultado|default:"" }}</td>
                <td>{{ partida_palpite.palpite.resultado|default:"" }}</td>
                <td>
                    {{ partida_palpite.palpite.pontuacao }}
                </td>
                <td>
                    {% if partida_palpite.partida.pontuacao_dobrada %}
                    🔥
                    {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content %}
