{% extends 'base.html' %}

{% block title %}Gerenciar Bolão | Palpiteiros{% endblock title %}

{% block body_class %}fixed-layout{% endblock %}

{% block content %}

<div class="page-container">
  <h3>Gerenciar bolão</h3>
  <div class="scrollable-content">

    <div class="signin-pool-url">
      <p>Link de ingresso no bolão:</p>
      <p id="pool-url">{{ request.scheme }}://{{ request.get_host }}{{ pool.get_signin_url }}</p>
      {% comment %} <input type="button" class="copy-btn" value="Copiar" onclick="copyUrlToClipboard(this)"> {% endcomment %}
    </div>

    <form id="manage-pool-form" method="post" class="main-form">
      {% csrf_token %}

      {{ form.non_field_errors }}

      <div class="manage-pool-form">
        {{ form.errors }}
        {{ form.name.label }}
        {{ form.name }}
      </div>
      <div class="manage-pool-form">
        {{ form.errors }}
        {{ form.minutes_before_start_match.label }}
        {{ form.minutes_before_start_match }}
      </div>
      <div class="manage-pool-form">
        {{ form.errors }}
        {{ form.hours_before_open_to_guesses.label }}
        {{ form.hours_before_open_to_guesses }}
      </div>
      <div class="manage-pool-form">
        {{ form.errors }}
        {{ form.hours_to_keep_closed_matches_in_ranking.label }}
        {{ form.hours_to_keep_closed_matches_in_ranking }}
      </div>
      <div>
        <div class="private-checkbox">
          {{ form.private.errors }}
          <label for={{ form.private.auto_id }}>Privado</label>
          {{ form.private }}
        </div>
        <div class="help-msg">
          <p>Desmarque para tornar público ou marque para tornar privado</p>
        </div>
      </div>
      <div>
        <details>
          {{ form.errors }}
          <summary>
            {{ form.guessers.label }}
            <div class="help-msg">
              <p>Edite os membros do bolão</p>
            </div>
          </summary>
          {{ form.guessers }}
        </details>
      </div>
      <div>
        <details>
          {{ form.errors }}
          <summary>
            {{ form.competitions.label }}
            <div class="help-msg">
              <p>Edite as competições do bolão</p>
            </div>
          </summary>
          {{ form.competitions }}
        </details>
      </div>
      <div>
        <details>
          {{ form.errors }}
          <summary>
            Times avulsos
            <div class="help-msg">
              <p>Edite as equipes avulsas do bolão</p>
            </div>
          </summary>
          {{ form.teams }}
        </details>
      </div>
    </form>
  </div>

  <div class="action-bar">
    <a href="{% url 'core:pool_home' pool.slug %}" class="btn btn-secondary">Voltar</a>
    <button type="submit" form="manage-pool-form" class="btn btn-primary">Salvar alterações</button>
  </div>
</div>

{% endblock content %}
