{% extends 'base.html' %}

{% block title %}Palpiteiros | Manual do Administrador{% endblock title %}

{% block content %}

<h1>Manual do Administrador</h1>

<article>
    <p class="paragrafo-comum">
        Para realizar todas as ações descritas nesse manual será necessário acessar a Área de administração, através do
        menu
        principal, clicando em "Acessar área de administração".</br></br>
        Somente os administradores e membros da equipe terão acesso a essa área por meio das suas contas de usuário.
    </p>
</article>

<article>
    <h2>CADASTRANDO NOVOS PALPITEIROS</h2>
    <ol class="lista-comum">
        <li class="item-lista-comum">Clicar em "Usuários", depois em "ADICIONAR USUÁRIO +" (ou direto no botão "Adicionar"
            da linha "Usuários")</li>
        <li class="item-lista-comum">Inserir nome do usuários (aquele utilizado para fazer login), senha e confirmação da senha.
            Depois clicar em "SALVAR"
        </li>
        <li class="item-lista-comum">Clicar em "Palpiteiros", depois em "ADICIONAR PALPITEIRO +" (ou direto no botão "Adicionar"
            da linha "Palpiteiros")</li>
        <li class="item-lista-comum">No campo "Usuário", selecionar o usuário criado no passo 1. Depois clicar em "SALVAR"</li>
    </ol>
</article>

<article>
    <h2>CADASTRANDO EQUIPE</h2>
    <ol class="lista-comum">
        <li class="item-lista-comum">Clicar em "Equipes", depois em "ADICIONAR EQUIPE +" (ou direto no botão "Adicionar"
            da linha "Equipes")</li>
        <li class="item-lista-comum">Inserir o nome da equipe e sua respectiva abreviação. Depois clicar em "SALVAR"
        </li>
    </ol>
</article>

<article>
    <h2>CADASTRANDO NOVA RODADA</h2>
    <ol class="lista-comum">
        <li class="item-lista-comum">Clicar em "Rodadas" > "ADICIONAR RODADA +" (ou direto no botão "Adicionar" da linha
            "Rodadas")</li>
        <li class="item-lista-comum">Clicar em "+ Adicionar outro(a) Partida"</li>
        <li class="item-lista-comum">Inserir dados da partida:</li>
        <ul class="lista-comum">
            <li class="item-lista-comum">Mandante e Visitante: equipes envolvidas na partida. Caso as equipes ainda não
                estejam cadastradas no
                sistema, clicar no botão "+" verde ao lado do campo, preencher dados da equipe na nova aba aberta e
                clicar em "SALVAR". A aba aberta pode ser fechada</li>
            <li class="item-lista-comum">Data: data da partida no formato DD/MM/AAAA. Existem também os botões de atalho
                "Hoje" e Calendário para
                facilitar a escolha</li>
            <li class="item-lista-comum">Hora: horário da partida no formato HH:MM:SS. Existem também os botões de
                atalho "Agora" e Relógio para
                facilitar a escolha</li>
            <li class="item-lista-comum">Gols Mandante e Visitante: gols efetuados por cada uma das equipes na partida.
                Ao cadastrar nova
                partida, deixar esses campos VAZIOS, eles só devem ser preenchidos após o término da partida</li>
        </ul>
    </ol>
    <p class="paragrafo-comum">
        <strong>OBS</strong>: SOMENTE as partidas da última rodada serão exibidas na aba "Palpitar". Então, uma nova
        rodada só deve ser criada após o encerramento da rodada atual. Do contrário, os palpiteiros não poderão palpitar
        na rodada que estava aberta anteriormente.
    </p>
</article>

<article>
    <h2>EDITANDO PARTIDA</h2>
    <ol class="lista-comum">
        <li class="item-lista-comum">Acessar partida utilizando um dos seguintes caminhos:</li>
        <ul class="lista-comum">
            <li class="item-lista-comum">Através da rodada a qual a partida pertence:</li>
            <ul class="lista-comum">
                <li class="item-lista-comum">Clicar em "Rodadas"</li>
                <li class="item-lista-comum">Buscar pela rodada a qual a partida pertence e clicar nela. Será exibida
                    uma tabela com todas
                    partidas daquela rodada, permitindo a edição de várias delas simultaneamente.</li>
            </ul>
            <li class="item-lista-comum">Diretamente pela lista de partidas:</li>
            <ul class="lista-comum">
                <li class="item-lista-comum">Clicar em "Partidas"</li>
                <li class="item-lista-comum">Buscar pela partida e clicar nela. Serão exibidos os detalhes da partida,
                    permitindo que sejam
                    editados.</li>
            </ul>
        </ul>
        <li class="item-lista-comum">Atualizar as informações desejadas e clicar em "SALVAR"</li>
    </ol>
    <p class="paragrafo-comum">
        <strong>OBS</strong>: Esse procedimento deve ser utilizado com cuidado e, de preferência, somente para a
        atualização dos resultados das partidas após sua finalização.
    </p>
</article>

{% endblock content %}
