{% extends 'base.html' %}

{% block title %}Palpiteiros | Palpitar{% endblock title %}

{% block content %}

<h1>Palpitar</h1>

<p>{% now "DATETIME_FORMAT" %}</p>

<form action="{% url 'core:palpitar' %}" method="post" class="palpite-form">

    {% csrf_token %}

    {% if dados_palpites_encerrados %}<h3>Palpites encerrados</h3>{% endif %}
    {% for dados in dados_palpites_encerrados %}
        <div class="partida-wrapper">
            <p class="horario-partida">
                {{ dados.partida.data_hora }}
                {% if dados.partida.pontuacao_dobrada %}
                  <strong>(x2 🔥)</strong>
                {% endif %}
            </p>
            <div class="palpite-wrapper">
                <div class="equipe mandante">
                  {{ dados.partida.mandante }}
                </div>
                <div>
                  <span class="gols-palpite-encerrado">{% if dados.palpite %}{{ dados.palpite.gols_mandante }}{% else %}-{% endif %}</span>
                </div>
                <div class="separador-equipes">x</div>
                <div>
                  <span class="gols-palpite-encerrado">{% if dados.palpite %}{{ dados.palpite.gols_visitante }}{% else %}-{% endif %}</span>
                </div>
                <div class="equipe visitante">
                  {{ dados.partida.visitante }}
                </div>
            </div>
        </div>
    {% endfor %}

    <h3>Palpites abertos</h3>
    {% for form in forms_palpites_abertos %}
        <div class="partida-wrapper">
            {{ form.non_field_errors }}
            {{ form.gols_mandante.errors }}
            {{ form.gols_visitante.errors }}
            <p class="horario-partida">
                {{ form.partida.data_hora }}
                {% if form.partida.pontuacao_dobrada %}
                  <strong>(x2 🔥)</strong>
                {% endif %}
            </p>
            <div class="palpite-wrapper">
                <div class="equipe mandante">{{ form.gols_mandante.label_tag }} {{ form.gols_mandante }}</div>
                <div class="separador-equipes">x</div>
                <div class="equipe visitante">{{ form.gols_visitante }} {{ form.gols_visitante.label_tag }}</div>
            </div>
        </div>
    {% endfor %}

    <input type="submit" value="Salvar palpites">

</form>

{% endblock content %}
