{% extends 'base.html' %}

{% block title %}Palpiteiros | Palpitar{% endblock title %}

{% block content %}

<h1>Palpitar</h1>

<form action="{% url 'core:palpitar' %}" method="post" class="palpite-form">

    {% csrf_token %}
    {% for form in form_list %}
        <div class="partida-wrapper">
            {{ form.non_field_errors }}
            {{ form.gols_mandante.errors }}
            {{ form.gols_visitante.errors }}
            <p class="horario-partida">
                {{ form.partida.data_hora }}
            </p>
            {% if form.partida.pontuacao_dobrada %}
            <p class="aviso-partida-dobrada">(x2 🔥)</p>
            {% endif %}
            <div class="palpite-wrapper">
                <div class="equipe mandante">
                    {{ form.gols_mandante.label_tag }} {{ form.gols_mandante }}
                </div>
                <div>x</div>
                <div class="equipe visitante">
                    {{ form.gols_visitante }} {{ form.gols_visitante.label_tag }}
                </div>
            </div>
        </div>
    {% endfor %}

    <input type="submit" value="Salvar palpites">

</form>

{% endblock content %}
