{% extends 'base.html' %}

{% block title %}Classificação | Palpiteiros{% endblock title %}

{% block content %}

<h3>Classificação</h3>

<form action="{% url 'core:ranking' pool.slug %}" method="GET" class="menu horizontal period-form">
  {{ period_form.as_div }}
</form>

<table class="main-table">
  <tr>
    <th style="width:2.5%"></th>
    <th style="width:2.5%"></th>
    <th style="width:80%"></th>
    <th style="width:15%">Pontos</th>
  </tr>
  {% for guesser in ranking %}
    <tr>
      <td>
        {% if forloop.counter == 1 %}
        🥇
        {% elif forloop.counter == 2 %}
        🥈
        {% elif forloop.counter == 3 %}
        🥉
        {% elif forloop.last %}
        🔦
        {% endif %}
      </td>
      <td>{{ forloop.counter }}º</td>
      {% comment %} <td>{{ guesser }}</td> {% endcomment %}
      <td style="text-align:left">{{ guesser }}</td>
      <td>{{ guesser.score }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock content %}
