{% extends 'base.html' %}

{% block title %}Classificação | Palpiteiros{% endblock title %}

{% block content %}

<h3>Classificação</h3>

<div class="period-form-container">
  <p>Escolha o período que deseja ver a classificação:</p>
  <form action="{% url 'core:ranking' pool.slug %}" method="GET" class="period-form">
    {{ period_form.as_div }}
  </form>
</div>

<table class="main-table ranking-table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th style="width:60%"></th>
      <th>Pontos</th>
      <th style="width:30%"></th>
    </tr>
  </thead>
  <tbody>
    {% for entry in ranking_entries %}
      <tr
        class="clickable-row"
        name="clickable-row{{ entry.user.id }}"
        onclick="expandDetailRow('{{ entry.user.id }}')"
      >
        <td>
          {% if forloop.counter == 1 %}
          🥇
          {% elif forloop.counter == 2 %}
          🥈
          {% elif forloop.counter == 3 %}
          🥉
          {% elif forloop.last %}
          🔦
          {% endif %}
        </td>
        <td>{{ forloop.counter }}º</td>
        <td style="text-align:left">{{ entry }}</td>
        <td>{{ entry.score }}</td>
        <td class="expand-icon">Palpites 🔽</td>
      </tr>

      <tr
        class="detail-row"
        name="detail-row{{ entry.user.id }}"
        style="display: none"
      >
        <td colspan="5" class="detail-table-container">
          <table class="detail-table">
            <thead>
              <tr>
                <th style="width:50%">Partida</th>
                <th style="width:15%">Resultado</th>
                <th style="width:15%">Palpite</th>
                <th style="width:15%">Pontuação</th>
                <th style="width:5%"></th>
              </tr>
            </thead>
            <tbody>
              {% comment %} {% for match_and_guess in entry.matches_and_guesses %}
                <tr class="detail-table-row">
                  <td>
                      <p class="match-time">{{ match_and_guess.match.date_time|date:"l d/m H:i" }}</p>
                      <p>{{ match_and_guess.match.home_team }}</p>
                      <p>x</p>
                      <p>{{ match_and_guess.match.away_team }}</p>
                  </td>
                  <td>{{ match_and_guess.match.result_str|default:"-" }}</td>
                  {% if match_and_guess.guess %}
                    <td>{{ match_and_guess.guess.result_str }}</td>
                    {% if match_and_guess.match.result_str %}
                      <td>{{ match_and_guess.guess.get_score }}</td>
                    {% else %}
                      <td>-</td>
                    {% endif %}
                  {% else %}
                    <td>-</td>
                    <td>-</td>
                  {% endif %}
                  <td>
                    {% if match_and_guess.match.double_score %}
                    🔥
                    {% endif %}
                  </td>
                </tr>
              {% endfor %} {% endcomment %}
            </tbody>
          </table>
        </td>
      </tr>

    {% empty %}
      <tr>
          <td colspan="5" style="text-align: center; padding: 20px;">
              Não há dados de classificação para o período selecionado.
          </td>
      </tr>
    {% endfor %}
</tbody>
</table>

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('ranking-period-form');
    const selects = form.querySelectorAll('select');

    selects.forEach(select => {
        select.addEventListener('change', function() {
            form.submit();
        });
    });
});
</script>
{% endblock extra_js %}

{% endblock content %}
