{% extends 'base.html' %}

{% block title %}Palpiteiros | Classificação{% endblock title %}

{% block content %}

<h1>Classificação</h1>

<form action="{% url 'core:ranking' pool.slug %}" method="GET" class="menu horizontal period-form">
  {{ period_form.as_div }}
</form>

<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Pontos</th>
    </tr>
    {% for guesser in ranking %}
    <tr>
        <td>
            {% if forloop.counter == 1 %}
            🥇
            {% elif forloop.counter == 2 %}
            🥈
            {% elif forloop.counter == 3 %}
            🥉
            {% elif forloop.last %}
            🔦
            {% endif %}
        </td>
        <td>{{ forloop.counter }}º</td>
        <td>{{ guesser }}</td>
        <td>{{ guesser.score }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
