{% extends 'base.html' %}

{% block title %}Palpites{% endblock title %}

{% block content %}

<h1>{{ round }}</h1>

<table class="main-table">
  <thead>
    <tr>
      <th style="width:2.5%"></th>
      <th style="width:2.5%"></th>
      <th style="width:45%">Palpiteiro</th>
      <th style="width:15%">
        {% if round.active %}
          Pontuação parcial
        {% else %}
          Pontuação final
        {% endif %}
      </th>
      <th style="width:35%"></th>
    </tr>
  </thead>
  <tbody>
  {% for details in round_details%}
    <tr
      class="clickable-row"
      name="clickable-row{{ details.guesser.usuario.id }}"
      onclick="expandDetailRow('{{ details.guesser.usuario.id }}')"
    >
      <td>
        {% if forloop.counter == 1 %}
          🥇
        {% elif forloop.counter == 2 %}
          🥈
        {% elif forloop.counter == 3 %}
          🥉
        {% elif forloop.last %}
        🔦
        {% endif %}
      </td>
      <td>{{ forloop.counter }}º</td>
      <td>{{ details.guesser }}</td>
      <td>{{ details.round_score }}</td>
      <td class="expand-icon">
      {% if details.guesser.usuario == request.user %}
      Palpites 🔼
      {% else %}
      Palpites 🔽
      {% endif %}
      </td>
    </tr>
    <tr
      class="detail-row"
      name="detail-row{{ details.guesser.usuario.id }}"
      {% if details.guesser.usuario == request.user %}
      style="display: table-row"
      {% endif %}
    >
      <td colspan="5" class="detail-table-container">
        <table class="detail-table">
          <thead>
            <tr>
              <th style="width:50%">Partida</th>
              <th style="width:15%">Resultado</th>
              <th style="width:15%">Palpite</th>
              <th style="width:15%">Pontuação</th>
              <th style="width:5%"></th>
            </tr>
          </thead>
          <tbody>
            {% for match_and_guess in details.matches_and_guesses %}
            <tr>
              <td>
                  <p>{{ match_and_guess.match.mandante }}</p>
                  <p>x</p>
                  <p>{{ match_and_guess.match.visitante }}</p>
              </td>
              <td>{{ match_and_guess.match.result_str|default:"-" }}</td>
              {% if match_and_guess.guess %}
                <td>{{ match_and_guess.guess.result_str }}</td>
                {% if match_and_guess.match.result_str %}
                  <td>{{ match_and_guess.guess.get_score }}</td>
                {% else %}
                  <td>-</td>
                {% endif %}
              {% else %}
                <td>-</td>
                <td>-</td>
              {% endif %}
              <td>
                  {% if match_and_guess.match.pontuacao_dobrada %}
                  🔥
                  {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content %}
