{% extends 'base.html' %}

{% block title %}Buscar bolão | Palpiteiros{% endblock title %}

{% block content %}

<h2>Bolões públicos</h2>

{% comment %} <form action="{% url 'core:ranking' pool.slug %}" method="GET" class="menu horizontal period-form">
  {{ period_form.as_div }}
</form> {% endcomment %}

<table class="main-table open-pools-table">
  <tr>
    <th>Bolão</th>
    <th>Administrador</th>
    <th></th>
  </tr>
  {% for pool in pools %}
    <tr>
        <td>{{ pool }}</td>
        <td>{{ pool.owner }}</td>
        <td><a href={% url 'core:signin_pool' pool.uuid %}>Entrar</a></td>
    </tr>
  {% endfor %}
</table>

{% endblock content %}
