{% extends 'base.html' %}

{% block title %}Buscar bolão | Palpiteiros{% endblock title %}

{% block body_class %}fixed-layout{% endblock %}

{% block content %}

<div class="page-container">
  <div class="scrollable-content">
    <h2>Bolões públicos</h2>

    <table class="main-table open-pools-table">
      <thead>
        <tr>
          <th>Bolão</th>
          <th>Administrador</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for pool in pools %}
          <tr>
            <td>{{ pool }}</td>
            <td>{{ pool.owner }}</td>
            <td><a href={% url 'core:signin_pool' pool.uuid %}>Entrar</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="action-bar">
    <a href="javascript:history.back()" class="btn btn-primary">Voltar</a>
  </div>
</div>

{% endblock content %}
