{% extends "base.html" %}
{% load static %}

{% block title %}Palpiteiros | Entrar{% endblock title %}

{% block content %}

<div class="logo large">
  <a href={% if pool %}{% url 'core:pool_home' pool.slug %}{% else %}{% url 'core:index' %}{% endif %}>
    <img src={% static 'core/img/palpiteiros.png' %} alt="Logotipo Palpiteiros"
    class="large-logo">
  </a>
</div>


<form action="{% url 'login' %}" method="post" class="main-form">
  {% csrf_token %}
  <div>
    <p>Bem-vindo, palpiteiro(a)</p>
  </div>
  {{ form.as_div }}
  <a href="{% url 'password_reset' %}" class="forget-password">Esqueci minha senha</a>
  <input type="hidden" name="next" value="{{ next }}">
  <input type="submit" value="Entrar">
</form>

<nav class="menu vertical">
  <a href="{% url 'register' %}">Criar conta</a>
</nav>

{% endblock content %}
