{% extends "base.html" %}

{% block title %}Palpiteiros | Redefinir senha{% endblock title %}

{% block content %}

<h1>Redefina sua senha</h1>

{% if validlink %}

    <p>Por favor, preencha sua nova senha duas vezes:</p>
    
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Redefinir senha">
    </form>

{% else %}

    <p>
        Link inválido! Provavelmente o link já foi utilizado.
        Por favor, solicite um novo link e tente novamente.
    </p>

{% endif %}

{% endblock content %}