{% extends "base.html" %}

{% block title %}Palpiteiros | Redefinir senha{% endblock title %}

{% block content %}

<h1>Redefinir senha</h1>

{% if validlink %}

<form action="" method="post" class="login-form">
    {% csrf_token %}
    {{ form.as_div }}
    <input type="submit" value="Redefinir senha">
</form>

{% else %}

<div class="msg-central">
    <p><strong>Link inválido! ❌</strong></p>
    <p>
        Provavelmente este link já foi utilizado. Solicite novamente a redefinição de senha.
    </p>
</div>

{% endif %}

{% endblock content %}