{% extends "base.html" %}

{% block title %}Redefinir senha | Palpiteiros{% endblock title %}

{% block content %}

<h2>Redefinir senha</h2>

{% if validlink %}
<form action="" method="post" class="main-form">
    {% csrf_token %}
    {{ form.as_div }}
    <input type="submit" value="Redefinir senha">
  </form>
  {% else %}
  <div class="main-msg">
    <p><strong>Link inválido ❌</strong></p>
    <p>Provavelmente este link já foi utilizado. Solicite novamente a redefinição de senha.</p>
  </div>
  {% endif %}

  <nav class="menu vertical">
    <a href="{% url 'login' %}">Voltar para login</a>
  </nav>

  {% endblock content %}
