{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>

    <header>
        <span id="logo"><a href="{% url 'core:index' %}">Palpiteiros</a></span>
        <span id="controls">
            {% if request.user.is_authenticated %}
            {{ request.user.first_name }} | <a href="{% url 'logout' %}">Sair</a>
            {% endif %}
        </span>
    </header>

    <main>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close-message">x</a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock content %}
        <nav class="menu vertical">
            <a href="{% url 'core:palpitar' %}">Palpitar</a>
            <a href="{% url 'core:classificacao' %}">Classificação</a>
            <a href="{% url 'core:lista_rodadas' %}">Rodadas</a>
        </nav>
    </main>

    <footer>
        {% block footer %}{% endblock footer %}
        <address>Feito por <a href="https://github.com/eldersantoss">@eldersantoss</a></address>
    </footer>

    <script src={% static 'core/base.js' %}></script>
</body>

</html>