* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #202124;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: yellowgreen;
}

a:hover {
  color: greenyellow;
}

header {
  padding: 2vh 5vw 0 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header a {
  font-weight: bold;
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-height: 15vh;
}

main {
  flex-grow: 1;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


main h1 {
  align-self: flex-start;
}

main a {
  margin: 2vh 0;
}

main p {
  margin: 5vh 0;
  line-height: 2.75vh;
}

article {
  width: 85vw;
}

h2 {
  margin: 7vh 0 5vh 0;
  color: yellowgreen;
}

h3 {
  margin: 5vh 0;
  color: yellowgreen;
}

.paragrafo-comum {
  line-height: 25px;
  margin: 5vh 0 0 0;
}

.lista-comum {
  line-height: 25px;
  padding-left: 5vw;
}

.item-lista-comum {
  margin-top: 2vh;
}

.separador {
  width: 100%;
  margin: 5vh 0;
  border: 0;
  height: 0.5vh;
  background-image: linear-gradient(to right, transparent, #9acd32, transparent);
}

.menu {
  display: flex;
  align-items: center;
}

.vertical {
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.horizontal {
  width: 100%;
  justify-content: space-evenly;
}

.ativado {
  color: greenyellow;
  font-weight: bold;
  text-shadow: 2px 2px 5px green;
}

.period-form {
  margin-top: 2vh;
}

.period-form select {
  background: #202124;
  border: none;
  border-bottom: 1px solid greenyellow;
  color: greenyellow;
  font-size: 0.85em;
  font-weight: bold;
}

.period-form label {
  display: block;
  font-size: 0.55em;
  margin-bottom: 0.5vh;
}

.period-form select option {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.msg-central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  line-height: 25px;
}

.login-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form p {
  text-align: center;
}

.login-form div {
  display: flex;
  flex-direction: column;
  margin: 1vh;
}

.help-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.help-links .msg-central {
  flex-grow: 0;
}

.login-form label {
  display: flex;
}

div.helptext {
  margin: 1vh 0 0 0;
  align-self: center;
  font-size: 0.7em;
  max-width: 80vw;
}

.helptext ul {
  list-style: none;
  padding: 0;
}

.helptext li {
  margin-top: 1vh;
}

.errorlist {
  color: red;
  list-style: none;
  padding: 0;
  text-align: center;
}

.login-form input {
  margin-top: 1vh;
  padding: 1vw;
  border: none;
  min-height: 5vh;
  min-width: 80vw;
  font-size: 0.9em;
}

.palpite-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.palpite-form div {
  margin-top: 1vh;
}

.palpite-form label {
  margin: 0 1vw;
}

.palpite-form input {
  text-align: center;
  padding: 1vw;
  margin: 0 1vw;
  min-height: 5vh;
  max-width: 8vw;
  border: none;
  color: darkgreen;
  font-weight: bold;
}

.partida-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 5vh 0;
}

.aviso-partida-dobrada {
  margin: 0;
  font-size: 0.7em;
  align-self: center;
}

.horario-partida {
  text-align: center;
  font-size: 0.75em;
  margin: 0 0;
}

.palpite-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
}

.equipe {
  display: flex;
  align-items: center;
  width: 47.5%;
  line-height: 2.5vh;
  text-align: center;
}

.mandante {
  text-align: right;
  justify-content: flex-end;
}

.visitante {
  text-align: left;
  justify-content: flex-start;
}

.gols-palpite-encerrado {
  color: yellowgreen;
  margin: 0 1.5vh;
  font-size: 1.1em;
  font-weight: bold;
}

input[type=submit] {
  background-color: yellowgreen;
  color: darkgreen;
  font-weight: bold;
  min-width: 80vw;
}

input[type=submit]:hover {
  background-color: greenyellow;
}

.palpite-form input[type=submit] {
  margin-top: 5vh;
}

.login-form input[type=submit] {
  margin-top: 2vh;
}

.classificacao-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.classificacao-form div {
  margin: 0 10px;
}

.periodo-classificacao {
  font-size: 0.7em;
  margin: 0 0;
}

.pagination {
  align-self: center;
  position: absolute;
  bottom: 7em;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 2.5vh 0;
}

th,
td {
  padding: 15px 10px;
  text-align: center;
}

.main-table {
  font-size: 0.7em;
}

.clickable-row:hover {
  cursor: pointer;
}

.expand-icon {
  font-size: 0.7em;
}

.detail-table-container {
  padding: 0;
}

.detail-table {
  margin: 1vh 0;
  font-size: 0.8em;
  color: white;
}

.detail-table tr {
  background-color: rgba(173, 255, 47, 0.5);
}

.detail-table th {
  font-weight: bold;
  padding: 15px 10px;
}

.detail-table td {
  padding: 15px 5px;
}

.detail-table p {
  margin: 0;
  line-height: 2.2vh;
}

.detail-row {
  display: none;
}

footer {
  padding: 2vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
}